<div class="flex h-full bg-base-100">
  <.live_component
    module={EyeInTheSkyWebWeb.Components.Sidebar}
    id="app-sidebar"
    sidebar_tab={assigns[:sidebar_tab] || :sessions}
    sidebar_project={assigns[:sidebar_project]}
  />

  <main class="flex-1 overflow-auto flex flex-col min-w-0">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
