<div class="flex h-full bg-[oklch(95%_0.005_80)] dark:bg-[hsl(30,3.3%,11.8%)]">
  <.live_component
    module={EyeInTheSkyWebWeb.Components.Sidebar}
    id="app-sidebar"
    sidebar_tab={assigns[:sidebar_tab] || :sessions}
    sidebar_project={assigns[:sidebar_project]}
    active_channel_id={assigns[:active_channel_id]}
  />

  <main class="flex-1 overflow-auto flex flex-col min-w-0">
    <.flash_group flash={@flash} />
    {@inner_content}
  </main>
</div>
